body {
    margin: 20px auto;
    width: 75%;
    pointer-events: none;
}

nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #C1DAD6;
    pointer-events: all;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

h2 {
    font-size: 1.8em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: white;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.blurb {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;

}

li {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}

a.socialIcons {
    margin-top: 5 px;
    text-align: center;;
    display: inline-table;
    vertical-align: middle;
    width: 19%;
}

a.socialIcons:hover {
opacity: .7;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

#footer {
   position:absolute;
   padding-top: 50px;
   padding-bottom: 20px;
   width:75%;
}

img.resize{
   width: 50px;
   height: 50px;
}

#home-sketch {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#home-sketch-frame {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  pointer-events: all;
  border: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1F282D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 75%;
    display: block;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropbtn {

    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    pointer-events: all;
    background-color: #1F282D;
    color: #C1DAD6;
    font-size: 100%;
    border: none;
    cursor: pointer;
}

.frame {
  text-align: center;
  width: 100%;
  pointer-events: all;
  padding-top: 20px;
  padding-bottom: 20px;
}